.App{
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.wrapper{
  border: 1px solid black;
  display: flex;
  transition: border 0.5s ease-in-out;
}

ul{
  list-style: none;
  padding-left: 0;
}

li{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 10px;
  cursor: pointer;
  width: 120px;
}

li:hover{
  border: 1px solid crimson;
  border-radius: 5px;
}

.active{
  display: block;
}

.inactive{
  display: none;
}

.second-child{
  position: absolute;
  left: 54%;
  top: 38%;
}